.wrapper {
    width: 250px;

    img {
        aspect-ratio: 1;
        object-fit: contain;
        width: 100%;
        border-radius: 15px;
        background-color: gray;
    }

    .title {
        font-weight: 700px;
        font-size: 1.5rem;
    }

    .price-label {
        font-weight: 300px;
        font-size: 1 rem;
    }

    .price {
        font-weight: 5 00px;
        font-size: 1 rem;
    }
}
